/**
 * Fonts
*/

@font-face {
  font-family: 'DINP-R';
  src: url("../fonts/DINPro-Regular.eot?") format("eot"),
  url("../fonts/DINPro-Regular.woff") format("woff"),
  url("../fonts/DINPro-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'sf-ui-display-black';
  src: url("../fonts/sf-ui-display-black.otf?") format("otf"),
  url("../fonts/sf-ui-display-black.woff") format("woff"),
  url("../fonts/sf-ui-display-black.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: 'sf-ui-display-bold';
  src: url("../fonts/sf-ui-display-bold.otf?") format("otf"),
  url("../fonts/sf-ui-display-bold.woff") format("woff"),
  url("../fonts/sf-ui-display-bold.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: 'sf-ui-display-heavy';
  src: url("../fonts/sf-ui-display-heavy.otf?") format("otf"),
  url("../fonts/sf-ui-display-heavy.woff") format("woff"),
  url("../fonts/sf-ui-display-heavy.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: 'sf-ui-display-light';
  src: url("../fonts/sf-ui-display-light.otf?") format("otf"),
  url("../fonts/sf-ui-display-light.woff") format("woff"),
  url("../fonts/sf-ui-display-light.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: 'sf-ui-display-medium';
  src: url("../fonts/sf-ui-display-medium.otf?") format("otf"),
  url("../fonts/sf-ui-display-medium.woff") format("woff"),
  url("../fonts/sf-ui-display-medium.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: 'sf-ui-display-semibold';
  src: url("../fonts/sf-ui-display-semibold.otf?") format("otf"),
  url("../fonts/sf-ui-display-semibold.woff") format("woff"),
  url("../fonts/sf-ui-display-semibold.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: 'sf-ui-display-thin';
  src: url("../fonts/sf-ui-display-thin.otf?") format("otf"),
  url("../fonts/sf-ui-display-thin.woff") format("woff"),
  url("../fonts/sf-ui-display-thin.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: 'sf-ui-display-ultralight';
  src: url("../fonts/sf-ui-display-ultralight.otf?") format("otf"),
  url("../fonts/sf-ui-display-ultralight.woff") format("woff"),
  url("../fonts/sf-ui-display-ultralight.woff2") format("woff2");
  font-style: normal;
}
