/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

/* Components */


/* Fonts */
$sfblack: 'sf-ui-display-black', sans-serif;
$sfbold: 'sf-ui-display-bold', sans-serif;
$sfheavy: 'sf-ui-display-heavy', sans-serif;
$sflight: 'sf-ui-display-light', sans-serif;
$sfmedium: 'sf-ui-display-medium', sans-serif;
$sfsemibold: 'sf-ui-display-semibold', sans-serif;
$sfthin: 'sf-ui-display-thin', sans-serif;
$sfultralight: 'sf-ui-display-ultralight', sans-serif;

