body{
  font-family: $sfbold;
  color:white;
}

main{
  width:100%;
  height:100vh;
  display:flex;
  @media screen and (max-width: 992px) {
    height:auto;
    flex-wrap: wrap;
  }
}

.mainBox{
  height: 100%;
  width:62%;
  background: url('../images/design/background_cover.jpg') center left;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 67px 50px 67px;
  @media screen and (max-width: 1750px) {
    padding: 50px 60px 50px 60px;
  }
  @media screen and (max-width: 1520px) {
    padding: 30px 30px 30px 30px;
  }
  @media screen and (max-width: 992px) {
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    background: url('../images/design/background_cover_resp.png') center bottom ;
    background-size: cover;
    padding: 30px 30px 30px 30px;
  }
  @media screen and (max-width: 767px) {
    padding: 20px 25px 20px 25px;
  }
}

.mainCont{
  width: 100%;
  height: auto;
  position: relative;
  .logoBox{
    width: 285px;
    float: left;
    margin: 0px 0px 50px 0px;
    @media screen and (max-width: 1750px) {
      width: 230px;
    }
    @media screen and (max-width: 1520px) {
      width: 200px;
      margin: 0px 0px 30px 0px;
    }
    @media screen and (max-width: 1380px) {
      width: 180px;
    }
    @media screen and (max-width: 992px) {
      width: 160px;
      margin: 0px 0px 20px 0px;
    }
  }
  .logoRstec{
    position: absolute;
    right: 0px;
    top: 15px;
    width: 210px;
    @media screen and (max-width: 1520px) {
      width: 170px;
    }
    @media screen and (max-width: 1380px) {
      width: 140px;
    }
    @media screen and (max-width: 992px) {
      width: 110px;
    }

  }
  .titleBox{
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 50px;
      border-bottom: 1px solid white;
      border-left: 1px solid white;
      bottom: -12px;
      left: -10px;
      max-width: 55%;
      opacity:0.5;
      @media screen and (max-width: 992px) {
        max-width: 100%;
        bottom:-10px;
      }
    }
    small{
      font-size: 32px;
      color:white;
      font-family: $sflight;
      @media screen and (max-width: 1750px) {
        font-size: 29px;
      }
      @media screen and (max-width: 1520px) {
        font-size: 25px;
      }
      @media screen and (max-width: 1380px) {
        font-size: 23px;
      }
      @media screen and (max-width: 992px) {
        font-size: 19px;
        margin: 0px 0px 20px 0px;
        display: inline-block;
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        font-size: 17px;
      }
    }
    h1{
      color: white;
      font-size: 36px;
      font-family: $sfbold;
      text-transform: uppercase;
      @media screen and (max-width: 1750px) {
        font-size: 34px;
      }
      @media screen and (max-width: 1520px) {
        font-size: 30px;
      }
      @media screen and (max-width: 1380px) {
        font-size: 26px;
      }
      @media screen and (max-width: 992px) {
        font-size: 22px;
      }
    }
  }
}

.listEvents{
  width: 100%;
  height: auto;
  display:inline-block;
  margin: 45px 0px 0px 0px;
  @media screen and (max-width: 1750px) {
    margin: 37px 0px 0px 0px;
  }
  @media screen and (max-width: 1520px) {
    margin: 28px 0px 0px 0px;
  }
  @media screen and (max-width: 1380px) {
    margin: 22px 0px 0px 0px;
  }
  h2{
    color:white;
    font-size: 32px;
    font-family: $sflight;
    margin: 0px 0px 10px 0px;
    @media screen and (max-width: 1750px) {
      font-size: 30px;
    }
    @media screen and (max-width: 1520px) {
      font-size: 26px;
    }
    @media screen and (max-width: 1380px) {
      font-size: 21px;
      margin: 0px 0px 5px 0px;
    }
  }
  ul{
    li{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0px 10px 0px;
      @media screen and (max-width: 992px) {
        padding: 5px 0px 5px 0px;
      }
      figure{
        float: left;
        width: 50px;
        @media screen and (max-width: 1520px) {
          width: 35px;
        }
        @media screen and (max-width: 992px) {
          width: 30px;
        }
        @media screen and (max-width: 767px) {
          width: 25px;
        }
        img{
          width: 100%;
          height: auto;
        }
      }
      .txt{
        float: left;
        width: calc( 100% - 50px );
        padding: 0px 0px 0px 15px;
        @media screen and (max-width: 1520px) {
          width: calc( 100% - 35px );
        }
        @media screen and (max-width: 992px) {
          width: calc( 100% - 30px );
        }
        @media screen and (max-width: 767px) {
          padding: 0px 0px 0px 10px;
          width: calc( 100% - 25px );
        }
        p{
          color:white;
          font-family: $sflight;
          font-size: 20px;
          strong{
            font-family: $sfbold;
          }
          @media screen and (max-width: 1520px) {
            font-size: 18px;
          }
          @media screen and (max-width: 992px) {
            font-size: 16px;
          }
          @media screen and (max-width: 767px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.listVia{
  width: 100%;
  height: auto;
  display:inline-block;
  margin: 35px 0px 0px 0px;
  @media screen and (max-width: 1750px) {
    margin: 30px 0px 0px 0px;
  }
  @media screen and (max-width: 1520px) {
    margin: 25px 0px 0px 0px;
  }
  @media screen and (max-width: 992px) {
    margin: 15px 0px 0px 0px;
  }
  h3{
    color:width;
    font-family: $sflight;
    font-size: 23px;
    margin: 0px 0px 10px 0px;
    @media screen and (max-width: 1750px) {
      font-size: 21px;
    }
    @media screen and (max-width: 1520px) {
      font-size: 19px;
    }
    @media screen and (max-width: 1380px) {
      font-size: 17px;
    }
  }
  figure{
    float: left;
    @media screen and (max-width: 1520px) {
      img{
        height: 65px;
      }
    }
    @media screen and (max-width: 1380px) {
      img{
        height: 50px;
      }
    }
    @media screen and (max-width: 992px) {
      img{
        height: 40px;
      }
    }
    &:last-child{
      margin: -7px 0px 0px 20px;
      @media screen and (max-width: 992px) {
        margin: -3px 0px 0px 10px;
        img{
          height: 40px;
        }
      }
    }
  }
}

.whatsappBox{
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 70px;
}

.formBox{
  width: 38%;
  height: 100%;
  background: #9BC2D2;
  display: flex;
  align-items: center;
  justify-content:center;
  @media screen and (max-width: 992px) {
    width: 100%;
    padding: 40px 0px 40px 0px;
  }
}

.formCont{
  max-width: 430px;
  @media screen and (max-width: 1520px) {
    max-width: 390px;
  }
  @media screen and (max-width: 1380px) {
    max-width: 350px;
  }
  .title{
    text-align: center;
    margin: 0px 0px 25px 0px;
    h3{
      color:white;
      font-size: 36px;
      font-family: $sfbold;
      text-transform: uppercase;
      @media screen and (max-width: 1520px) {
        font-size: 32px;
      }
      @media screen and (max-width: 1380px) {
        font-size: 26px;
      }
    }
    p{
      color:white;
      font-family: $sfbold;
      font-size: 26px;
      @media screen and (max-width: 1520px) {
        font-size: 24px;
      }
      @media screen and (max-width: 1380px) {
        font-size: 20px;
      }
      @media screen and (max-width: 1200px) {
        font-size: 18px;
      }
    }
  }
  form{
    width:100%;
    padding: 0px 25px 0px 25px;
    .fieldBox{
      width:100%;
      height:auto;
      margin: 0px 0px 15px 0px;
      position: relative;
      input.error{
        border:1px solid #FF7D24;
        
      }
      label{
        color: white;
        font-size: 14px;
        font-family: $sfmedium;
        width: auto;
        position: relative;
        height : auto;
        display: inline-block;
        padding: 3px 7px 3px 7px;
        position: absolute;
        right:0px;
        bottom:0px;
        background: #FF7D24;
        display: none !important;
        &:before{
          content:'';
          position:absolute;
          top:0px;
          left:0px;
          width: 15px;
          height: 15px;
          background: #FF7D24;
          border-radius: 50%;
        }
      }
      input{
        width:100%;
        height:60px;
        background: rgba(0,0,0,.0);
        border:1px solid white;
        font-size: 17px;
        color:white;
        padding: 0px 0px 0px 20px;
        @media screen and (max-width: 1520px) {
          height:55px;
        }
        @media screen and (max-width: 1380px) {
          height:47px;
        }
      }
    }
    .terminosBox{
      width: 100%;
      height: auto;
      position: relative;
      padding: 10px 0px 25px 30px;
      margin: 0px 0px 15px 0px; 
      input{
        position:absolute;
        left:0px;
        top:11px;
        appearance:auto;
        width: 19px;
        border: 1px solid white !important;
        background: #9BC2D2;
        height: 19px;
      }
      label{
        font-size: 15px;
        font-family: $sflight;
        @media screen and (max-width: 1520px) {
          font-size: 14px;
        }
        @media screen and (max-width: 1380px) {
          font-size: 13px;
        }
      }
      label.error{
        position: absolute;
        bottom: 0px;
        left: 30px;
        color:white;
        background: #FF7D24;
        padding: 3px;
        border-radius: 5px;
      }
    }
    button{
      background:#FF7D24;
      width:100%;
      height:60px;
      border:none;
      span{
        color:white;
        font-family: $sfbold;
        font-size: 23px;
        text-transform: uppercase;
      }
      @media screen and (max-width: 1520px) {
        height:55px;
      }
      @media screen and (max-width: 1380px) {
        height:47px;
        span{
          font-size: 18px;
        }
      }
    }
  }
}

/* Thanks Page */
.thanksBox{
  width: 100%;
  height: 100vh;
  background: url('../images/design/background_thanks.png') center;
  background-size: cover;
  padding: 20px 5% 20px 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thanksCont{
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  .txt{
    p{
      color: white;
      font-family: $sflight;
      font-size: 32px;
    }
    @media screen and (max-width: 1380px) {
      p{
        font-size: 28px;
      }
    }
    @media screen and (max-width: 992px) {
      p{
        font-size: 24px;
      }
    }
    @media screen and (max-width: 767px) {
      p{
        font-size: 20px;
      }
    }
  }
  .txt2{
    display: block;
    width: 100%;
    height: auto;
    margin: 40px 0px 0px 0px;
    text-align: center;
    @media screen and (max-width: 1380px) {
      margin: 30px 0px 0px 0px;
    }
    @media screen and (max-width: 992px) {
      margin: 25px 0px 0px 0px;
    }
    img{
      display: inline-block;
      width: 110px;
      margin: 5px 0px 3px 0px;
      height: auto;
    }
    p{
      color: white;
      font-family: $sflight;
      font-size: 32px;
      @media screen and (max-width: 1380px) {
        font-size: 28px;
      }
      @media screen and (max-width: 992px) {
        font-size: 24px;
      }
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }
  }
  .btn{
    height: 50px;
    background: #48A700;
    width: 100%;
    max-width: 320px;
    display: inline-block;
    line-height: 50px;
    color: white;
    font-family: $sflight;
    margin: 6vh 0px 13vh 0px;
    @media screen and (max-width: 1520px) {
      margin: 4vh 0px 8vh 0px;
    }
    @media screen and (max-width: 992px) {
      max-width: 280px;
    }
  }
}

.logoThanks{
  display: inline-block;
  vertical-align: top;
  margin: 0px 0px 70px 0px;
  @media screen and (max-width: 1700px) {
    margin: 0px 0px 60px 0px;
    img{
      width: 300px;
    }
  }
  @media screen and (max-width: 1520px) {
    margin: 0px 0px 40px 0px;
    img{
      width: 270px;
    }
  }
  @media screen and (max-width: 1370px) {
    margin: 0px 0px 30px 0px;
    img{
      width: 240px;
    }
  }
  @media screen and (max-width: 992px) {
    img{
      width: 210px;
    }
  }
}

.logoThanks2{
  display: inline-block;
  vertical-align: top;
  width: 100%;
  img{
    width: 208px;
    display: inline-block;
  }
  @media screen and (max-width: 1520px) {
    img{
      width: 180px;
    }
  }
  @media screen and (max-width: 1370px) {
    img{
      width: 150px;
    }
  }
  @media screen and (max-width: 992px) {
    img{
      width: 130px;
    }
  }
}